body {
	background-color: #1f264a;
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}

@keyframes example {
  from {
    background-color: transparent;
  }
  to {
    background-color: #2f375e;
  }
}

/* The element to apply the animation to */
.navbar-link-custom {
	background-color: transparent;
    font-size: 16px;
    font-family: Poppins !important;
    text-align: center;  
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.navbar-link-custom:hover {
  animation-name: example;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.navbar-button-primary-custom {
  width: 120px;
  font-family: Poppins !important; 
  transition: all 0.2s ease-in-out;
}

.navbar-button-primary-custom:hover {
  box-shadow: 0 5px 50px #fff !important;
}

.heading {
	font-family: Poppins !important;
    padding: 160px 50px !important;
    color: #fff !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}

.subheading {
    color: #ffffff;
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 26px
}


.title {
    line-height: 90px !important;
    margin-bottom: -2px !important;
    font-size: 35px !important;
    font-weight: bold;
}


.subtitle {
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: Montserrat, sans-serif;
}